.form {
  text-align: center;
  padding-top: 5rem;
}

.inputForm {
  height: 3rem;
  width: 80%;
  text-indent: 20px;
  font-size: 2rem;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  font-weight: lighter;
  border-radius: 1rem;
  background-color: #fff;
  border: none;
}

.inputForm::placeholder {
  font-size: 2rem;
}

.inputForm:focus {
  outline: none;
}

@media only screen and (max-width: 700px) {
  .inputForm {
    width: 60%;
  }
}

@media only screen and (max-width: 400px) {
  .inputForm {
    height: 1.5rem;
    width: 10rem;
  }

  .inputForm::placeholder {
    font-size: 1.2rem;
  }
}
