.headerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4rem;
}

.headerImage {
  margin-right: 2rem;
  width: 15rem;
  height: 15rem;
  clip-path:
    polygon(
      50% 0%,
      90% 20%,
      100% 60%,
      75% 100%,
      25% 100%,
      0% 60%,
      10% 20%
    );
}

.headerText {
  font-size: 4rem;
  color: #fff;
}

@media only screen and (max-width: 900px) {
  .headerText {
    font-size: 2rem;
  }

  .headerImage {
    width: 10rem;
    height: 10rem;
  }
}

@media only screen and (max-width: 900px) {
  .headerText {
    font-size: 1.3rem;
  }

  .headerImage {
    width: 5rem;
    height: 5rem;
  }
}
